@media (max-width: 1240px) {

    article {
        width: calc(99.9% * 1.4/2 - (0px - 0px * 1.4/2))
    }

    article:nth-child(1n) {
        float: left;
        margin-right: 0px;
        clear: none
    }

    article:last-child {
        margin-right: 0
    }

    article:nth-child(2n) {
        margin-right: 0;
        float: right
    }

    article:nth-child(2n + 1) {
        clear: both
    }
}

@media (min-width: 1240px) {

    article {
        width: calc(99.9% * 1.5/2 - (0px - 0px * 1.5/2))
    }

    article:nth-child(1n) {
        float: left;
        margin-right: 0px;
        clear: none
    }

    article:last-child {
        margin-right: 0
    }

    article:nth-child(2n) {
        margin-right: 0;
        float: right
    }

    article:nth-child(2n + 1) {
        clear: both
    }
}

@media (max-width: 929px) {

    article {
        width: calc(99.9% * 2/2 - (30px - 30px * 2/2))
    }

    article:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none
    }

    article:last-child {
        margin-right: 0
    }

    article:nth-child(2n) {
        margin-right: 0;
        float: right
    }

    article:nth-child(2n + 1) {
        clear: both
    }
}

.screen1 {
    height: 100vh;
    background: url('../img/web-design.jpg') no-repeat;
    background-size: cover
}

.intro_section {
    width: 100%;
    height: calc(99.9% * 1.4/2 - (30px - 30px * 1.4/2));
    margin-bottom: 30px
}

.intro_section:last-child {
    margin-bottom: 0
}

@media (max-width: 1240px) {

    .intro_section {
        max-width: 38.75em;
        margin-left: auto;
        margin-right: auto
    }

    .intro_section:before {
        content: '';
        display: table
    }

    .intro_section:after {
        content: '';
        display: table;
        clear: both
    }
}

@media (min-width: 1240px) {

    .intro_section {
        max-width: 48.75em;
        margin-left: auto;
        margin-right: auto
    }

    .intro_section:before {
        content: '';
        display: table
    }

    .intro_section:after {
        content: '';
        display: table;
        clear: both
    }
}

@media (max-width: 639px) {

    .intro_section {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto
    }

    .intro_section:before {
        content: '';
        display: table
    }

    .intro_section:after {
        content: '';
        display: table;
        clear: both
    }
}

.intro_section .wrapper {
    border-radius: 1em;
    margin-top: 10em;
    border: .17em solid white;
    text-align: center;
    background-image: linear-gradient(135deg, rgba(253, 252, 251, .4) 0%, rgba(226, 209, 195, .8) 100%)
}

@media (max-width: 639px) {

    .intro_section .wrapper {
        border-radius: 0;
        border: .1em solid white
    }
}

@media (max-height: 619px) {

    .intro_section .wrapper {
        margin-top: 5em
    }
}

header.intro h1 {
    font-weight: 400;
    line-height: 1em;
    margin: .6em 0
}

@media (max-width: 1240px) {

    header.intro h1 {
        font-size: 3.5em
    }
}

@media (min-width: 1240px) {

    header.intro h1 {
        font-size: 5em
    }
}

@media (max-width: 639px) {

    header.intro h1 {
        font-size: 2.5em
    }
}

@media (max-width: 1240px) {

    .intro_card p {
        font-size: 1.1em
    }
}

@media (min-width: 1240px) {

    .intro_card p {
        font-size: 1.4em
    }
}

@media (max-width: 639px) {

    .intro_card p {
        font-size: 1em
    }
}

.full_width_banner:before {
    content: '';
    display: table
}

.full_width_banner:after {
    content: '';
    display: table;
    clear: both
}

.full_width_banner h1 {
    text-align: center;
    font-weight: 200;
    color: white
}

@media (max-width: 1240px) {

    .full_width_banner h1 {
        font-size: 2.5em
    }
}

@media (min-width: 1240px) {

    .full_width_banner h1 {
        font-size: 3.5em
    }
}

.first_banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .8)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .8) 100%);
    width: 100%;
    height: calc(99.9% * .6/2 - (0px - 0px * .6/2));
    margin-bottom: 0px
}

.first_banner:last-child {
    margin-bottom: 0
}

.first_banner h1 {
    line-height: 1.5em
}
